
<div style="width: 18rem; box-shadow: 0px 2px 4px black;">
    <div class="card-body">
        <h5 class="card-title">{{ title }}</h5>
        <p class="card-text">{{ text }}</p>
        <a href="{{ link }}" class="card-link">Go there</a>
    </div>
</div>