extends header.pug
block variables
  - var title = "Latest Additions"
block style
  style.
    body {
      text-align: center;
    }
    .subtopic {
      font-variant: all-small-caps;
      font-size: 1.2em;
      margin-top: .1em;
      margin-bottom: .4em;
      /*text-transform: uppercase;*/
      /*font-size: .9em;*/
    }
    .year {
      font-size: 1.2em;
      font-weight: bold;
      margin: .9em 0 .5em 0;
    }
    .ref {
      font-size: .8em;
    }
    .left {
      text-align: left;
      width: 500px;
      margin: auto;
    }
block body
  div.center
    #email
      i Please E-mail 
        a(href='mailto:tom@yoset.org') Tom Yoset
        |  if you have comments, requests, specific questions, or suggestions for additions. &nbsp;Thank you.
    div.year 2023
    div
      p
        | All 
        a(href='court/div/pad.html' target='_blank') divorce petitions
        |  filed in the Pennsylvania Supreme Court (1785-1815) have been abstracted, with every name 
        a(href='court/div/dividx.html' target='_blank') Index
        | , complementing all 
        a(href='court/div/std.html' target='_blank') divorces
        |  granted by the Pennsylvania Legislature (1785-1874).&nbsp;See also the listing of all nineteenth century 
        a(href='court/div/list.html' target='_blank') Crawford County divorce petitions
        | , which will be searched upon request (without charge) for any specific name(s), until the abstracts and transcriptions can be made generally available. 
    div.subtopic Courthouse &amp; Judicial Center
    div All nineteenth century Court of Quarter Sessions dockets have been abstracted or transcribed; early dockets are being revisited to add details and, e.g., juror lists previously omitted.&nbsp; These will be searched for any specific name(s) upon request, until the abstracts can be made generally available.
      |
      | All nineteenth century coroners 
      a(href='court/inquest/list.html' target='_blank') inquests
      |  currently available have been added, along with an 
      a(href='court/inquest/inquestindex.html' target='_blank') index
      |  to decedents.
    
    div.year 2022
    div
      | An 
      a(href='indexes.html' target='_blank') Indexes
      |  page has been added to highlight the various indexes and alphabetical listings available at this site.
    div.year 2020
    div.subtopic History &amp; Biography
    div
      | Earliest 
      a(href='history/lawyers.html' target='_blank') lawyers
      |  in Northwestern Pennsylvania 
      span.ref (William B. Moore, compiler)
    div.ref MAPS
    div Links to additional 
      a(href='maps.html' target='_blank') maps
      |  added, including Sanborn fire insurance maps for cities and some boroughs.
    div.year 2019
    div.subtopic Courthouse
    div
      | All adoptions granted by statute in Pennsylvania have been added,
      br
      |  along with legitimations, escheated estates released, and name changes;
      br
      | an 
      a(href='court/adopt.html' target='_blank') Adoption Matrix
      |  groups these with county adoptions, name changes, and baseborn children.
      p
        | Preliminary listings of the earliest 
        a(href='court/tax duplicates.html' target='_blank') tax duplicates
        |  (1800 to 1805) were added.
    div.year 2018
    div.subtopic COURTHOUSE
    div.left
      | All public 
      a(href='court/adopt.html') adoption petitions
      |  (1859 to 1925) have been abstracted and indexed.
    div.year 2015
    div.subtopic PUBLISHED SOURCES
    div 
      a(href='topicidx/CCH.html') Topical Index to Articles
      |  in 
      i Crawford County History
    div
      a(href='topical.html') Topical Index
      |  to 
      i Crawford County Genealogy
      |  (updated to include all volumes)
    div.year 2014
    div.subtopic COURTHOUSE
    div 
      div.left
        div
          a(href='court/bbc.html') Baseborn Children
          | &nbsp; [
          i abstracts to be added
          | ]
        div 
          a(href='court/feme sole.html') Feme Sole Traders
          |  petitions (indexed) 
        div 
          a(href='court/mw.html') Petitions of Married Women
          |  (indexed)
    div.subtopic History
    div
      | All city and township sketches appearing in the 
      a(href='history/1871.html') 1871-72
      |  county directory (indexed)
    div
      | County and all township sketches appearing in the 
      a(href='history/1874.html') 1874
      |  county gazetteer (indexed)
    div
    | Sketches from an 
    a(href='history/1832.html') 1832
    |  state gazetteer (a composite index is being prepared)
    div.subtopic MILITARY AFFAIRS
    div
      a(href='military/militia.html') Meadville Militia
      |  1793-1795 (indexed)
    div
      a(href='military/1835.html') 1835
      |  Census of Pensioners (indexed)
      p
      div.center
        div(style='display:inline-block;')
          a(href='#UP') 
            img(src='images/up.gif' border='0')
        div(style='display:inline-block;')
            a(href='./index.html')
            img(src='images/ccg.gif' border='0')
block footer
  include ga.html