include header.html

block body
  #email
    i
      | Please 
      label E-mail
      a(href='mailto:tom@yoset.org') Tom Yoset
      |  if you have comments, requests, specific questions, or suggestions for additions. &nbsp;Thank you.
  p
  tr(align='left')
    p
    font(size='+1')
      b 2023
    p
    table
      tr(align='center')
        td
        | All 
        a(href='court/div/pad.html' target='_blank') divorce petitions
        |  filed in the Pennsylvania Supreme Court (1785-1815) have been abstracted, with every name 
        a(href='court/div/dividx.html' target='_blank') Index
        | , complementing all 
        a(href='court/div/std.html' target='_blank') divorces
        |  granted by the Pennsylvania Legislature (1785-1874).&nbsp;See also the listing of all nineteenth century 
        a(href='court/div/list.html' target='_blank') Crawford County divorce petitions
        | , which will be searched upon request (without charge) for any specific name(s), until the abstracts and transcriptions can be made generally available.
      tr(align='center')
        td
          font(size='-1') COURTHOUSE &amp; JUDICIAL CENTER
    table
      tr
        td
          | All nineteenth century Court of Quarter Sessions dockets have been abstracted or transcribed; early dockets are being revisited to add details and, e.g., juror lists previously omitted.&nbsp; These will be searched for any specific name(s) upon request, until the abstracts can be made generally available.
      tr
        | All nineteenth century coroners 
        a(href='court/inquest/list.html' target='_blank') inquests
        |  currently available have been added, along with an 
        a(href='court/inquest/inquestindex.html' target='_blank') index
        |  to decedents.
    p
    tr(align='left')
      p
      font(size='+1')
        b 2022
      p
      table
        tr
          | An 
          a(href='indexes.html' target='_blank') Indexes
          |  page has been added to highlight the various indexes and alphabetical listings available at this site.
      p
      tr(align='left')
        p
        font(size='+1')
          b 2020
        p
        table
          tr(align='center')
            td
              font(size='-1') HISTORY &amp; BIOGRAPHY
          tr(align='left')
            td
              | Earliest 
              a(href='history/lawyers.html' target='_blank') lawyers
              |  in Northwestern Pennsylvania 
              font(size='-1') (William B. Moore, compiler)
          tr(align='center')
            td
              font(size='-1') MAPS
          tr(align='left')
            td
              | Links to additional 
              a(href='maps.html' target='_blank') maps
              |  added,
          tr
            td  &nbsp; &nbsp; including Sanborn fire insurance maps for cities and some boroughs.
        p
        tr(align='left')
          p
          font(size='+1')
            b 2019
          p
          table
            tr(align='center')
              td
                font(size='-1') COURTHOUSE
            tr(align='left')
              td
                | All adoptions granted by statute in Pennsylvania have been added,
                br
                |  &nbsp; &nbsp; along with legitimations, escheated estates released, and name changes;
                br
                |  &nbsp; &nbsp; an 
                a(href='court/adopt.html' target='_blank') Adoption Matrix
                |  groups these with county adoptions, name changes, and baseborn children.
                br
                i Note
                | :&nbsp; Only a partial 
                a(href='court/adopt/baseborn list.html' target='_blank') listing
                |  of baseborn children is available.
            td
              | Preliminary listings of the earliest 
              a(href='court/tax duplicates.html' target='_blank') tax duplicates
              |  (1800 to 1805) were added.
      p
      tr(align='left')
        p
          font(size='+1')
            b 2018
        p
        table
          tr(align='center')
            td
              font(size='-1') COURTHOUSE
          tr(align='left')
            td
              | All public 
              a(href='court/adopt.html') adoption petitions
              |  (1859 to 1925) have been abstracted and indexed.
          tr(align='left')
        p
        table
          tr(align='center')
            font(size='+1')
              b 2015
          table
            p
              tr(align='center')
                font(size='-1') PUBLISHED SOURCES
              tr(align='left')
                td
                  a(href='topicidx/CCH.html') Topical Index to Articles
                  |  in 
                  i Crawford County History
              tr(align='left')
                td
                  a(href='topical.html') Topical Index
                  |  to 
                  i Crawford County Genealogy
                  |  (updated to include all volumes)
          tr(align='left')
            p
            font(size='+1')
              b 2014
            p
            table
              tr(align='center')
                td
                  font(size='-1') COURTHOUSE
              tr(align='left')
                td
                  a(href='court/bbc.html') Baseborn Children
                  | &nbsp; [
                  i abstracts to be added
                  | ]
              tr(align='left')
                td
                  a(href='court/feme sole.html') Feme Sole Traders
                  |  petitions (indexed)
              tr
                td
                  a(href='court/mw.html') Petitions of Married Women
                  |  (indexed)
              tr(align='left')
              tr(align='center')
                td
                  font(size='-1') HISTORY
              tr(align='left')
                td
                  | All city and township sketches appearing in the 
                  a(href='history/1871.html') 1871-72
                  |  county directory (indexed)
              tr(align='left')
                td
                  | County and all township sketches appearing in the 
                  a(href='history/1874.html') 1874
                  |  county gazetteer (indexed)
              tr(align='left')
                td
                  | Sketches from an 
                  a(href='history/1832.html') 1832
                  |  state gazetteer (a composite index is being prepared)
              tr
                td  
              tr
              tr(align='center')
                td
                  font(size='-1') MILITARY AFFAIRS
              tr(align='left')
                td
                  a(href='military/militia.html') Meadville Militia
                  |  1793-1795 (indexed)
              tr(align='left')
                td
                  a(href='military/1835.html') 1835
                  |  Census of Pensioners (indexed)
                  p
                  div(align='center')
                    a(href='#UP')
                      img(src='images/up.gif' border='0')
                    a(href='./index.html')
                      img(src='images/ccg.gif' border='0')
include ga.html