{% layout "default-layout.liquid" %}
{% assign title="Biography" %}

{% block style %}
<style type="text/css">
    ul.c7 {list-style-type: none;margin-top:0px;}
    span.c6 {font-size: 120%}
    span.c5 {text-decoration: underline}
    dt.c4 {font-size: 32%}
    dt.c3 {font-size: 80%; font-style: italic}
    span.c2 {font-size:.9em;}
    hr.c1 {text-align: center}
</style>
{% endblock %}

{% block body %}
<a name="UP" id="UP"></a>
<div align="center">
  <h1>Crawford County, Pennsylvania</h1>
  <a href="index.html"><img src="images/ccg.gif" border="0"></a>
  <h2>Biography</h2>
  <hr class="c1" size="3" width="100%">
  <br>
  <span class="c2">Index to biographical sketches published in the sources listed in the <a href="biography/key.html">KEY</a>:</span>
  <dl>
    <dt class="c3">(those with links have been copied for this site)
    <dt class="c4">&nbsp;
    <dd>
      <div align="center">
        <span class="c6"><a href="biography/a.html">A</a>&nbsp;
        <a href="biography/b.html">B</a>&nbsp; 
          <a href="biography/c.html">C</a>&nbsp; 
          <a href="biography/d.html">D</a>&nbsp; 
          <a href="biography/e.html">E</a>&nbsp; 
          <a href="biography/f.html">F</a>&nbsp; 
          <a href="biography/g.html">G</a>&nbsp; 
          <a href="biography/h.html">H</a>&nbsp; 
          <a href="biography/i.html">I</a>&nbsp; 
          <a href="biography/j.html">J</a>&nbsp; 
          <a href="biography/k.html">K</a>&nbsp; 
          <a href="biography/l.html">L</a>&nbsp; 
          <a href="biography/m.html">M</a>&nbsp; 
          <a href="biography/n.html">N</a>&nbsp; 
          <a href="biography/o.html">O</a>&nbsp; 
          <a href="biography/p.html">P</a>&nbsp; 
          <a href="biography/q.html">Q</a>&nbsp; 
          <a href="biography/r.html">R</a>&nbsp; 
          <a href="biography/s.html">S</a>&nbsp; 
          <a href="biography/t.html">T</a>&nbsp; 
          <a href="biography/u.html">U</a>&nbsp; 
          <a href="biography/v.html">V</a>&nbsp; 
          <a href="biography/w.html">W</a>&nbsp; 
        <!--a href="biography/x.html"--><span class="c5">X</span>
        <!--/a-->&nbsp; <a href="biography/y.html">Y</a>&nbsp;
        <a href="biography/z.html">Z</a></span>
      </div>
    <dt>&nbsp;
    <dt><i>For brief biographical information, see also</i>:
    <dd>
      <ul compact class="c7">
        <li>“<a href="biography/1888/citizens.html" target="_blank">Our Old Citizens</a>,” an 1888 list of some county residents born before 1820
        <li>every-name <a href="history/1850/idx.html" target="_blank">index</a> to Huidekoper’s “Incidents” published in 1850
        <li>every-name <a href="history/idx%20combined.html" target="_blank">index</a> to portions of the 1869-70 directory of the oil regions
        <li>every-name <a href="history/idx%20combined.html" target="_blank">index</a> to portions of the 1871 county directory
        <li>every-name <a href="history/1874/idx.html" target="_blank">index</a> to portions of the 1874 county gazetteer [in progress]
        <li>every-name <a href="history/1876/idx.html" target="_blank">index</a> to portions of the 1876 county atlas
        <li>every-name <a href="history/1879/idx.html" target="_blank">index</a> to portions of the 1879-80 county directory
      </ul><i>Other sources of biographical information</i>:
      <ul compact class="c7">
        <li>
          <a href="topicidx/families.html" target="_blank">FAMILIES</a> subsection of <a href="topical.html" target="_blank">Topical Index</a> to
          <i>Crawford County Genealogy</i>
        <li>Resident veterans of the <a href="military/1776.html" target="_blank">Revolutionary War</a> and <a href="military/Indian.html" target="_blank">Indian Wars</a>
        <li>Card file to biographies at the library of the Crawford
        County Historical Society (<i>see</i> <a href="facilities.html">Research Facilities</a>)
      </ul>
      <div align="center">
        <a href="index.html"><img src="images/ccg.gif" border="0"></a>
      </div>
  </dl>
</div>
{% endblock %}
