block variables
doctype html
html(lang="en")
head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title} -- CrawfordCoPa.com
    link(rel="stylesheet", href="style.css", type="text/css")
    block style
body
    a(id="UP")
    div.center
    h1 Crawford County, Pennsylvania
    a(href="index.html")
        img(src="./images/ccg.gif", border="0")
    h2 #{title}
    hr(size="3", width="100%", align="center")
    br
    block body
    block footer