body {
	background-image: url('images/lgrey015.jpg');
	color: #000;
}
a {
	color: #00f;
}
a:visited {
	color: #800000;
}
a:active {
	color: #f00;
}
h1 {
	font-variant: small-caps;
	font-weight: normal;
	font-size: 200%;
	color: #fff;
	margin: 0;
}
h2 {
	margin: 0;
	font-weight: bold;
	font-size: 150%;
}
h3 {
	font-weight: normal;
}
h4 {
	font-size: 1.2em;
	font-style: italic;
	font-weight: normal;
	display: inline;
}